@tailwind base;
@tailwind components;
@tailwind utilities;


.kadwa-regular {
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
  }

  .jomolhari-regular {
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
.bg-img{
  background-image: url("/bg-img.png");
  background-repeat: no-repeat;
  /* background-size:contain; */

}

.bg-image{
  background-image: url("/bg-image.jpeg");
  background-repeat: no-repeat;
  /* background-size:contain; */
  background-position: center -280px;

}
  

.section5-bg{
  background-image: url("/bg-img.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center -280px;

}


.section5-bg-img{
  background-image: url("/bg-img.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center -30px;

}


.aboutpage-bg{
  background-image: url("/aboutpage-bg.svg");
  background-repeat: no-repeat;
  background-size:contain;
  


}