@tailwind base;
@tailwind components;
@tailwind utilities;



/* // fonts // */

.kadwa-regular {
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
  }

  .jomolhari-regular {
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }


 
  /* background-images */
  
.bg-img {
  background-image: url("/bg-img.png");
  background-repeat: no-repeat;
  background-position: 0% -60%; /* Ensures it's positioned at the top-left corner */
  /* background-size: cover; */
}

.bg-image{
  background-image: url("/bg-image.jpeg");
  background-repeat: no-repeat;
  /* background-size:contain; */
  background-position: center -280px;

}
  

/* .section5-bg{
  background-image: url("/section5-bg.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center -480px;

} */

.section5-bg {
  background-image: url("/section5-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center -480px; /* Moves left by 200px */
}



.section5-bg-img{
  background-image: url("/bg-img.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center -30px;

}


.aboutpage-bg{
  background-image: url("/aboutpage-bg.svg");
  background-repeat: no-repeat;
  background-size:cover;
}



.popup-bg {
  background-image: url("/popup-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 40px) calc(100% + 40px); /* Move 40px more right and 40px down */
  background-size: contain;
}



.service-section1-bg {
  background-image: url("/service-section1.svg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center -120px; 
  min-height: 100vh; /* Ensures it covers the full viewport height */
  width: 100%; /* Ensures it spans the full width */
}



.service-section3-bg {
  background-image: url("/service-section3.svg");
  background-repeat: no-repeat;
  background-position: right -120px; 



}
